In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('newpaper/test.jpg.txt')

In [6]:
df.head()

,area,bound_h,bound_w,c_points,c_type,enclosecircle_r,mean_color,peri
0,845.0,20,52,"[1112, 661, 1109, 664, 1109, 668, 1110, 669, 1...",path,26,"[140, 139, 146]",151.396968
1,601.0,23,42,"[1063, 661, 1061, 663, 1061, 666, 1060, 667, 1...",path,21,"[147, 145, 155]",141.740114
2,1894.0,20,128,"[932, 661, 929, 664, 929, 669, 928, 670, 928, ...",path,63,"[137, 136, 145]",374.048770
3,1113.5,20,83,"[850, 661, 849, 662, 849, 663, 848, 664, 848, ...",path,41,"[127, 126, 134]",240.208150
4,1036.0,20,78,"[766, 661, 763, 664, 763, 665, 762, 666, 762, ...",path,38,"[140, 138, 146]",224.994947

In [7]:
df.columns

Index(['area', 'bound_h', 'bound_w', 'c_points', 'c_type', 'enclosecircle_r',
       'mean_color', 'peri'],
      dtype='object')

In [13]:
row1 = df.iloc[0]

In [17]:
obj = row1.to_json()

In [19]:
type(obj)

str